<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mini_project_2</display-name>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>servlets.EmpServlet</servlet-class>
    <init-param>
      <param-name>owner</param-name>
      <param-value>created by Rajan Gupta.</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmpInfoAll</display-name>
    <servlet-name>ShowEmpInfoAll</servlet-name>
    <servlet-class>servlets.ShowEmpInfoAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmpInfoAll</servlet-name>
    <url-pattern>/ShowEmpInfoAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOne</display-name>
    <servlet-name>ShowOne</servlet-name>
    <servlet-class>servlets.ShowOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOne</servlet-name>
    <url-pattern>/ShowOne</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>color</param-name>
    <param-value>cyan</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLoginServlet</display-name>
    <servlet-name>MyLoginServlet</servlet-name>
    <servlet-class>servlets.MyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLoginServlet</servlet-name>
    <url-pattern>/MyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>servlets.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmpServlet</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>servlets.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyEmpServlet</display-name>
    <servlet-name>ModifyEmpServlet</servlet-name>
    <servlet-class>servlets.ModifyEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyEmpServlet</servlet-name>
    <url-pattern>/ModifyEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyDone</display-name>
    <servlet-name>ModifyDone</servlet-name>
    <servlet-class>servlets.ModifyDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDone</servlet-name>
    <url-pattern>/ModifyDone</url-pattern>
  </servlet-mapping>
</web-app>